

.messageItem {
    background-color: #121212;
    position: relative;
    transition: 0.2s ease-out;

}

.myMessage:hover {

}

.miniContextmenu {
    display: none !important;
}

.messageItem:hover .miniContextmenu {
    display: flex !important;
    position: absolute;
    top: 0;
    right: 0;
}

.focus {
    background-color: #474747;
    transition: 0.2s ease-in;
}