

.messageItem {
    /*background-color: #121212;*/
    position: relative;
    transition: 0.2s ease-out;

}

.myMessage:hover {

}

.miniContextmenu {
    display: none !important;
}

.messageItem:hover .miniContextmenu {
    display: flex !important;
    position: absolute;
    top: 0;
    right: -5px;
}
.message {
    transition: 0.2s ease-out;

}
.focus .message {
    background-color: lightgrey !important;
    color: black;
    transition: 0.2s ease-in;
}