
:root {
    --nicknameColor: '';
    --secondBackgroundColor: #121212;
}

body {
    min-height: 100vh;
    background-color: var(--secondBackgroundColor) !important;
}
.App {
    min-height: 100vh;
    /*padding-top: 64px;*/
}



.nav-link {
    /*color: inherit;*/
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    transition: 0.2s;
    color: var(--nicknameColor) !important;
}

.nav-link.active {
    color: var(--nicknameColor) !important;
}

.chatLink {
    border-radius: 10px;
}

.chatLink:hover {
    background-color: var(--nicknameColor);
}

.activeChat {
    border-radius: 10px;
    background-color: var(--nicknameColor);
}

/*@media screen and (max-width: 768px) {*/
/*    header {*/
/*        padding-left: 8px !important;*/
/*        padding-right: 8px !important;*/

/*    }*/
/*}*/


@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 10px;
        position: fixed;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--secondBackgroundColor);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: dimgray;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--nicknameColor);
    }
}

@media screen and (max-width: 768px) {

}

body {
    overflow-y: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h3, p {
    margin: 0;
}
p {
    word-break: break-all;
}

.typography:hover {
    background-color: RGBA(255,255,255,0.31);
    border-radius: 10px;
    cursor: default;
}

a {
    text-decoration: none;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #484848;
    border-radius: 4px;
    display: inline-block;
    padding: 10px !important;
    cursor: pointer;
    text-align: center;
}

.custom-file-upload:hover {
    border: 1px solid var(--nicknameColor);
;

}

.chrome-picker {
    width: 100% !important;
}

@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery-slides {
    width: 100% !important;
}

.image-gallery-content.left .image-gallery-slide .image-gallery-image, .image-gallery-content.right .image-gallery-slide .image-gallery-image {
    max-height: 90vh !important;
}